@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#page-wrapper {
  max-width: 66%;
  margin: 0 auto 0 auto;
  overflow: auto
}

#App {
  z-index: 2;
  position: absolute;  
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}

.bg-image {
  background-image: url('https://cdn.pixabay.com/photo/2016/12/18/21/51/bokeh-1916806_960_720.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.25;
  height: 100%;
  width: 100%;
  background-position: center;
  position: fixed;
  top:0;
}